*.elc
.DS_Store

/.cache/
/.local/
/.dap-breakpoints
/.lsp-session-v1
/agent/
/auto-save-list/
/elpa/
/eln-cache/
/etc/custom.el
/network-security.data
/projects.eld
/tramp
/tree-sitter/
/url/
/var/

/transient/
